*.jpg
*.jpeg
*.pyc
.DS_Store
computer_vision/datas/
computer_vision/projects/classification/caffe/expression_mobilnet/models/
computer_vision/projects/classification/caffe/expression_mobilnet/models_finetune/
computer_vision/projects/classification/caffe/expression_mobilnet/models_crop_48/
computer_vision/projects/classification/caffe/simpleconv3/snaps/
computer_vision/projects/classification/caffe/simpleconv3_add_contrast/snaps/
computer_vision/projects/classification/caffe/simpleconv3_add_contrast_colorshift/snaps/
computer_vision/projects/classification/caffe/simpleconv3_fixcrop/snaps/
computer_vision/projects/classification/caffe/simpleconv3_freecrop/snaps/
computer_vision/projects/classification/caffe/simpleconv3_nodataaug/snaps/
computer_vision/projects/classification/simpleconv3/__pycache__/
computer_vision/projects/classification/simpleconv3/checkpoints/
computer_vision/projects/classification/simpleconv3/logs/
computer_vision/projects/segmentation/caffe/allconv5/allconv5_baseline_32_64_128_256_512/models/
computer_vision/projects/segmentation/caffe/allconv5/allconv5_baseline_32_64_128_256_512/models_src/
computer_vision/projects/segmentation/caffe/allconv5/allconv5_skip_concat_conv1_conv2_conv3_conv4_norelu_adam_32_64_128_256_512/models/
computer_vision/projects/segmentation/caffe/allconv5/allconv5_skip_concat_conv1_conv2_conv3_conv4_norelu_adam_32_64_128_256_512/models_src/
computer_vision/projects/segmentation/caffe/resnet18/models/
computer_vision/projects/segmentation/caffe/resnet18/models_src/

computer_vision/projects/classification/tensorflow/simpleconv3/checkpoints/
computer_vision/projects/classification/tensorflow/simpleconv3/logs/
computer_vision/projects/segmentation/tensorflow/fast-deep-matting-portrait-matting/ckpts/
computer_vision/projects/segmentation/tensorflow/fast-deep-matting-portrait-matting/logs/

#flask folders
bingoai_server/.idea/
bingoai_server/__pycache__/
bingoai_server/app/__pycache__/
bingoai_server/app/static/
bingoai_server/app/modules/classification/roi_img/
bingoai_server/app/modules/classification/test_img/
bingoai_server/app/modules/__pycache__/
bingoai_server/app/modules/classification/__pycache__/
bingoai_server/venv/

#applet folders
bingoai_applet/images/

